<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dispatcher</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<!-- Leaflet CSS and JS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-rotatedmarker@0.2.0/leaflet.rotatedMarker.min.js"></script>
	<script src="/static/vendor/leaflet-providers/leaflet-providers.js"></script>
	<script src='https://unpkg.com/leaflet.marker.slideto@0.2.0/Leaflet.Marker.SlideTo.js'></script>

	<!-- Fontawesome JS-->
	<script src="https://kit.fontawesome.com/99043d701d.js" crossorigin="anonymous"></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<!-- Microtip tooltips -->
	<link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css">

	<!--- Leaflet Extramarkers -->
	<link rel="stylesheet" href="/static/vendor/extramarkers/css/leaflet.extra-markers.min.css">
	<script src="/static/vendor/extramarkers/js/leaflet.extra-markers.min.js"></script>

	<!-- Set script root-->
	<script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<style>
		html, body {
			height: 100vh;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
		body {
			display: flex;
			flex-direction: column;
        }
    </style>
</head>

<body>

<div class="container-fluid">  <!--Main container-->

	<div id = "map" style = "width:700px; height:450px;"></div>

</div> <!--Main container-->

<script>
	// Creating map options
	var mapOptions = {
		center: [51.50984266384934, -0.12466092828771125],
		zoom: 15
	 }
	 
	 // Creating a map object
	 var map = new L.map('map', mapOptions);
	 
	 // Creating a Layer object
	 var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
	 
	 // Adding layer to the map
	 map.addLayer(layer);

	 // Creates a red marker with the coffee icon
	 var redMarker = L.ExtraMarkers.icon({
		icon: 'fa-coffee',
		markerColor: 'red',
		shape: 'square',
		prefix: 'fa'
	  });
	
	  L.marker([51.50984266384934, -0.12466092828771125], {icon: redMarker}).addTo(map);
</script>


<!--Boostrap JS-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>

